<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pgsql.ant.mapper.Meta_brand_personMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.pgsql.ant.entity.Meta_brand_person">
        <id column="id" property="id" />
        <result column="weight" property="weight" />
        <result column="is_complete" property="isComplete" />
        <result column="start_time" property="startTime" />
        <result column="finish_time" property="finishTime" />
        <result column="brand_id" property="brandId" />
        <result column="credit_id" property="creditId" />
        <result column="person_id" property="personId" />
        <result column="product_id" property="productId" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
        <result column="is_enabled" property="isEnabled" />
    </resultMap>

</mapper>
